{% for (stanza_name, cluster) in pgbackrest_conf_cluster_stanzas.items() %}
[{{ stanza_name }}]
{% if 'pg_path' in cluster %}
pg1-path={{ cluster.pg_path }}
{% endif %}
{% if ('db_path' in cluster) and (not 'pg_path' in cluster) %}
db-path={{ cluster.db_path }}
{% endif %}
{% endfor %}

[global]
repo1-path={{ pgbackrest_repo_path }}
repo1-retention-full={{ pgbackrest_repo_retention_full }}
