{% for (stanza_name, cluster) in _pgbackrest_conf_cluster_stanzas.items() %}
{% if stanza_name != 'global' %}
[{{ stanza_name }}]
{% for op_key in cluster %}
{% if cluster[op_key] is sameas true %}
{{ op_key }}=y
{% elif cluster[op_key] is sameas false %}
{{ op_key }}=n
{% else %}
{{ op_key }}={{ cluster[op_key] }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

[global]
{% for (op_key, op_val) in (_pgbackrest_conf_cluster_stanzas['global'] | default({})).items() %}
{% if op_val is sameas true %}
{{ op_key }}=y
{% elif op_val is sameas false %}
{{ op_key }}=n
{% else %}
{{ op_key }}={{ op_val }}
{% endif %}
{% endfor %}
